    /* 搜索栏样式 */
    #search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        z-index: 1000;
    }

    #search-input {
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 8px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: background-color 0.3s;
        outline: none;
    }

    #search-input:focus {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .search-suggestions {
        display: none;
        background-color: #f6f6f6;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 6px;
        width: calc(100% - 20px);
    }

    .search-suggestions div {
        padding: 8px;
        cursor: pointer;
    }

    .search-suggestions div:hover {
        background-color: #ddd;
    }

    #search-input:focus+.search-suggestions {
        display: block;
    }

    @media screen and (max-width: 600px) {
        #search-container {
            width: 90%;
        }
    }

    /* 背景样式 */
    .bg-img {
        width: 100%;
        background-image: url("../images/3.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    /* 轮播图样式 */
    .slideshow-container {
        max-width: 1400px;
        height: 400px;
        top: 20%;
        position: absolute;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .mySlides {
        display: none;
        width: 1400px;
        transition: opacity 1s ease;
    }

    .mySlides img {
        width: 100%;
        display: block;
        border-radius: 8px;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 3px;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        z-index: 10;
    }

    .next {
        right: 0;
    }

    .prev {
        left: 0;
    }

    .game {
        position: absolute;
        width: 1300px;
        height: 100px;
        top: 700px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .game div {
        float: left;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;
        border-radius: 15%;
        background-color: green;
        opacity: 0.9;
        font-size: xx-large;
        font-family: 楷体;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dot-container {
        text-align: center;
        position: absolute;
        bottom: 8px;
        width: 100%;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 8px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dot.active {
        background-color: #717171;
    }

    /* 侧导航栏样式 */
    .shell1 {
        position: absolute;
        width: 50px;
        height: 700px;
        top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(131, 126, 111);
        border-radius: 10px;
        transition: .3s;
        overflow: hidden;
        z-index: 11;
        opacity: 0.9;
    }

    .box-Snb {
        text-decoration: none;
        display: block;
        height: 15%;
        width: 85%;
        margin: 9px;
        border-radius: 5px;
        position: relative;
        transition: .3s;
        color: rgb(160, 160, 175);
    }

    .box-Snb i {
        font-size: 60px;
        position: absolute;
        margin: 7px 0 0 13px;
    }

    .box-Snb:nth-child(1)::before,
    .box-Snb:nth-child(5)::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgb(55, 65, 81);
        position: absolute;
        bottom: -10px;
    }

    .box-Snb span {
        position: relative;
        top: 22px;
        left: 80px;
        font: 500 20px '';
        opacity: 0;
        transition: .1s;
    }

    .shell1:hover {
        width: 270px;
    }

    .box-Snb:hover {
        background-color: rgb(55, 65, 81);
    }

    .shell1:hover span {
        opacity: 1;
    }

    .box-Snb:hover {
        color: #fff;
    }

    .shell1:nth-child(2) {
        background-color: rgb(243, 244, 246);
    }

    .shell1:nth-child(2) .box-Snb:hover {
        background-color: rgb(209, 213, 219);
        color: rgb(241, 159, 159);
    }

    .shell1:nth-child(2) .box-Snb {
        color: #000;
    }

    .shell1:nth-child(3) {
        background-color: rgb(49, 46, 129);
    }

    .shell1:nth-child(3) .box-Snb:hover {
        background-color: rgb(67, 56, 202);
    }

    .shell1:nth-child(3) .box-Snb {
        color: rgb(140, 120, 240);
    }