body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    width: 1700px;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 100px;
}

header nav ul li a {
    text-align: center;
    font-family: 微软雅黑;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

section {
    padding: 50px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.author div img {
    width: 200px;
    height: 200px;
    float: left;
}

.book div img {
    width: 400px;
    height: 600px;
    float: right;
}

.text {
    font-size: large;
    font-family: 微软雅黑;
}

h1 {
    font-size: 40px;
}

h1,
h2,
h3 {
    color: #333;
}

p {
    font-family: 楷体;
    font-size: x-large;
    text-align: left;
    color: #666;
}

.work {
    margin-bottom: 30px;
}

.work img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}